@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./post.css');
@import url('./toc.css');
@import url('https://fonts.googleapis.com/css2?family=Economica:ital@1&display=swap');

@layer base {
  /* body {
    background-color: var(--colors-loContrast);
    font-family: Yu Gothic, yugothic, ヒラギノ角ゴ ProN, Hiragino Kaku Gothic ProN,
      メイリオ, meiryo, sans-serif;
  } */
}

@layer components {
  .bg-global {
    @apply bg-neutral-50 dark:bg-neutral-900;
  }
  .bg-primary-1 {
    @apply bg-white dark:bg-neutral-800;
  }
  .text-primary-1 {
    @apply text-neutral-800 dark:text-white;
  }
  .text-accent-1 {
    @apply text-teal-800 dark:text-teal-400;
  }
  .button {
    @apply center gap-2 py-3 px-4 rounded-lg text-base font-normal bg-teal-700 text-white w-3/6;
  }
  .icon-btn {
    @apply text-primary-1 p-3;
  }
  .badge {
    @apply text-xs flex items-center font-bold px-3 py-1 bg-black text-white;
  }
}

@layer utilities {
  .vstack {
    @apply flex flex-col;
  }
  .hstack {
    @apply flex items-center;
  }
  .wrap {
    @apply hstack flex-wrap;
  }
  .center {
    @apply flex items-center justify-center;
  }
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}
.mg-10 {
  margin: 10px;
}

/*メインページのプロフカード設定*/

.wi-1000 {
  width: 1280px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mg-0-auto {
  margin: 0 auto;
}

.mt-n30 {
  margin-top: -30px;
}

/*ブログカードの設定*/

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--c-base-bg);
  border-radius: 12px;
  box-shadow: 0 4px 8px -2px #000a3c1a;
  overflow: hidden;
  transition: box-shadow 0.2s;
}

.w-45 {
  width: 45%;
}

.card:hover {
  box-shadow: 0 6px 30px -4px #001b4433;
}

.card__body {
  background-color: #fff;
  padding: 5px 5px 10px 5px;
}

.card__title {
  font-weight: 700;
  font-size: 14px;
  padding: 0.5rem 0.5rem;
  overflow: hidden;
  height: 6em;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  max-height: 5.05em;
}

.card__date {
  font-weight: 700;
  font-size: 11px;
  padding: 0.5rem 0.5rem;
  color: rgb(163, 163, 163);
}

.card__tag {
  background: rgb(16, 119, 187);
  color: #fff;
  padding: 2px 8px;
  font-weight: 600;
  font-size: 10px;
  margin: 5px;
  border-radius: 10px;
}

/*ヘッダー設定*/

.economica {
  font-size: 19px;
  font-weight: 600;
}

/*沿革ページ*/

@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
}

.tree_container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

.timeline-item {
  padding: 3em 1em 2em;
  position: relative;
  color: rgba(black, 0.7);
  border-left: 2px solid black;
}

p {
  font-size: 1rem;
}

.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 0.785rem;
}

.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: '';
  border: 2px solid black;
  background: white;
}

.timeline-item:last-child {
  border-image: linear-gradient(
      to bottom,
      rgba(black, 0.3) r 60%,
      rgba(black, 0)
    )
    1 100%;
}
